///<reference path="_variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables.scss" />
.audiowide {
    font-family: 'Audiowide', cursive;
}

body {
    font-family: 'Exo 2', sans-serif;
}

.noscript {
    display: block;
    text-align: center;
    color: #f04124;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.hidden {
    display: none;
}

.text-faded {
    opacity: 0.7;
}

#page-loader {
    position:fixed;
    top:-4px;
    right:3px;
    z-index:99999;
}

footer {
    opacity: 0.7;
    margin-top: .5rem;
    padding-top: 0.5rem;

    a, a:link, a:visited {
        color: $body-color;
    }
}

.home-card {

    .home-icon-img {
        position: absolute;
        max-height: 2.5rem;
        top: .8rem;
        left: .5rem;
    }

    .card-title {
        margin-left:2rem;
    }
}

[data-toggle="collapse"] .mdi-chevron-down:before {
    transition:transform 0.3s ease;
}

[data-toggle="collapse"].collapsed .mdi-chevron-down:before {
    transform: rotate(-90deg);
}

@media print {
    header, footer, nav {
        display: none;
    }
}
