.fish-media-container {
    border:#777 1px solid;
    margin-bottom:.7rem;
}

.fish-details-table {
    th {
        font-weight: normal;
        font-size: 0.6rem;
        text-transform: uppercase;
        text-align: right;
        transform:translateY(2px);
    }

    td {
    }
}
