///<reference path="_variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables.scss" />

table.table-vertical {
    th, td {
        padding: 7px;
    }

    th {
        text-align: right;
        font-weight: 600;
        min-width: 100px;
    }
}

table.table-auto-width {
    width: auto;
}

table.table-flip {
    display: table;

    tr {
        display: block;
        float: left;
        margin-right:-1px;
        th, td {
            display: block;
            margin-bottom:-1px;
        }
    }
}

.table-content-center {
    th, td {
        text-align:center;
        vertical-align:middle;
    }
}

@media screen and (max-width: 768px) {
    table.table-auto-width {
        width: 100%;
    }
}


table.table-mobile {
    width: 100%;

    thead {
        display: none;
    }

    tbody {
        tr {
            display: block;
            margin-bottom: 10px;
            border: 1px solid #888;

            th, td {
                display: block;
                text-align: right;
                border-bottom: 1px dotted #888;

                &:last-child {
                    border-bottom: none;
                }

                &:before {
                    content: attr(data-label);
                    float: left;
                    font-size: 0.8rem;
                    line-height: 2;
                }
            }
        }
    }
}

@each $breakpoint-key, $breakpoint-value in $grid-breakpoints {
    @media screen and (min-width:$breakpoint-value) {
        table.table-#{$breakpoint-key}-mobile {

            thead {
                display: table-header-group;
            }

            tbody tr {
                display: table-row;
                border: none;

                th, td {
                    display: table-cell;

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}