
@{
    ViewBag.title = "Site Management";
}

<h3>Site Management</h3>
<hr />

<p>
    <a asp-action="RedownloadCache">
        <span class="mdi mdi-fw mdi-download"></span>Redownload Item Cache
    </a>
</p>

<hr />

<p>
    <a asp-controller="CodexTab">
        <span class="mdi mdi-fw mdi-tab"></span>Manage Codex Tabs
    </a>
</p>
<p>
    <a asp-controller="ItemCategory">
        <span class="mdi mdi-fw mdi-group"></span>Manage Item Categories
    </a>
</p>
<p>
    <a asp-controller="ManualItemData">
        <span class="mdi mdi-fw mdi-blank"></span>Manage Manual Item Data
    </a>
</p>
<p>
    <a asp-controller="InvasionReward">
        <span class="mdi mdi-fw mdi-blank"></span>Manage Invasion Rewards
    </a>
</p>
<p>
    <a asp-controller="PrimeRelease">
        <span class="mdi mdi-fw mdi-blank"></span>Manage Prime Releases
    </a>
</p>
<p>
    <a asp-controller="Fish">
        <span class="mdi mdi-fw mdi-fish"></span>Manage Fish
    </a>
</p>
<p>
    <a asp-action="ApiExplorer">
        API Explorer
    </a>
</p>