@model List<string>
@{ 
    ViewData["Title"] = "Mod Text Placeholders";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area=""><span class="mdi mdi-home mdi-lg"></span></a></li>
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Site Management</a></li>
    <li class="breadcrumb-item active"><span>@ViewData["Title"]</span></li>
</ol>

@foreach (string placeholder in Model.OrderBy(x => x)) {
    <div>@placeholder</div>
}