
@{
    ViewData["Title"] = "Tools";
}

<h3>Tools</h3>
<hr />

<p>
    <a asp-action="UpdateDaysLoggedIn">Update Days Logged In</a>
</p>

<p>
    <a asp-action="PrimePrediction">Prime Release Predictions</a>
</p>

<p>
    <a asp-action="ValenceCalculator">Kuva Valence Calculator</a>
</p>