
@{
    ViewData["Title"] = "API Explorer";
}

<div id="api-explorer">
    <div class="form-group">
        <select class="twr-input" id="category-select"></select>
    </div>

    <form id="name-search-form" class="form-group">
        <div class="input-group">
            <input type="text" class="form-control form-control-sm" id="name-search-input" placeholder="Name Search" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary btn-sm">
                    <span class="mdi mdi-fw mdi-lg mdi-magnify"></span>
                </button>
            </div>
        </div>
    </form>

    @*<form id="unique-name-search-form" class="form-group">
        <div class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Unique Name Search" />
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary btn-sm">
                    <span class="mdi mdi-fw mdi-lg mdi-magnify"></span>
                </button>
            </div>
        </div>
    </form>

    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="RegEx Unique Name Search" />
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary btn-sm">
                    <span class="mdi mdi-fw mdi-lg mdi-magnify"></span>
                </button>
            </div>
        </div>
    </div>*@

    <h6 id="api-explorer-count"></h6>

    @*<div id="api-explorer-results"></div>*@

    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Unique Name</th>
            </tr>
        </thead>
        <tbody id="api-explorer-results">

        </tbody>
    </table>
</div>