@model Invasion
@{
    int total = Model.Goal * 2;
    int current = Model.Count + Model.Goal;
    double percent1 = (double)current / (double)total;
    double width = percent1 * 100;
    double oppositeWidth = (1 - percent1) * 100;
}

@if (Model != null) {
    <div class="row mb-3">
        <div class="col-12">
            <span display-for="SolNode.Name"></span> <small display-for="StartDateUtc" class="text-muted"></small>
            @if (Model.IsBlocked) {
             @: <span class="text-muted">/</span> <span class="text-danger" data-toggle="tooltip" title="This invasion is currently blocked by another invasion on the same node."><span class="mdi mdi-fw mdi-block-helper"></span>Blocked</span>
            }
        </div>
        <div class="col-12">
            <img src="~/images/@(Model.AttackerFaction.ToLower()).png" style="max-height:20px;" />
            @if (Model.DefenderRewardItems.SafeAny()) {
                <span display-for="DefenderRewardItems"></span>
            }
        </div>
        <div class="col-12">
            <div class="progress" style="border-radius:0;height:12px;">
                <div class="progress-bar bg-faction-@Model.AttackerFaction.ToLower()" role="progressbar" style="width:@(width + "%");"></div>
                <div class="progress-bar bg-faction-@Model.DefenderFaction.ToLower()" role="progressbar" style="width:@(oppositeWidth + "%");"></div>
            </div>
        </div>
        <div class="col-12 text-right">
            @if (Model.AttackerRewardItems.SafeAny()) {
                <span display-for="AttackerRewardItems"></span>
            }
            <img src="~/images/@(Model.DefenderFaction.ToLower()).png" style="max-height:20px;" />
        </div>
    </div>
}