@model Invasion
@{
    int total = Model.Goal * 2;
    int current = Model.Count + Model.Goal;
    double percent1 = (double)current / (double)total;
    double width = percent1 * 100;
    double oppositeWidth = (1 - percent1) * 100;
}

@if (Model != null) {
    <div class="row mb-3">
        <div class="col-12">
            <span display-for="SolNode.Name"></span> <small display-for="ActivateDateUtc" class="text-muted"></small>
        </div>
        <div class="col-md-6">
            <span display-for="AttackerFaction"></span> -
            <span display-for="AttackerRewardItems"></span>
        </div>
        <div class="col-12 order-md-last">
            <div class="progress" style="border-radius:0;height:12px;">
                <div class="progress-bar bg-faction-@Model.AttackerFaction.ToLower()" role="progressbar" style="width:@width%;"></div>
                <div class="progress-bar bg-faction-@Model.DefenderFaction.ToLower()" role="progressbar" style="width:@oppositeWidth%;"></div>
            </div>
        </div>
        <div class="col-md-6 text-right">
            <span display-for="DefenderRewardItems"></span> -
            <span display-for="DefenderFaction"></span>
        </div>
    </div>
}