@model VoidTrader
@if (Model != null) {
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="my-0 px-0">
                <span display-for="Name"></span>
                <span class="h6">
                    @if (Model.IsHere) {
                        <span>is at </span><span display-for="SolNode.Name"></span>
                    } else {
                        <span>will arrive in </span><span display-for="TimeTillDisplay"></span>
                    }
                </span>
            </h5>
        </div>
    </div>
}