<div class="modal fade" tabindex="-1" role="dialog" id="item-form-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content overflow-hidden">
            <div class="modal-body" id="item-form-modal-body">

            </div>
        </div>
    </div>
</div>