@inject IOptions<AppSettings> AppSettings
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3 px-0">
    <div class="container nav-container justify-content-start">
        <button class="navbar-toggler sidebar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a asp-action="Index" asp-controller="Home" asp-area="" display-for="@AppSettings.Value.AppName" class="navbar-brand audiowide"></a>

        <div class="navbar-collapse collapse text-light" id="navbar-navmenu">
            <span class="navbar-text mr-auto">
                <environment include="Development">
                    <span class="text-warning">Development Server</span>
                </environment>
            </span>
        </div>
    </div>
</nav>
