@model HomeViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row gutter-5 mb-1">
    <div class="col-6">
        <div>
            <a asp-action="PrimeWishlist" asp-controller="Item">Prime Wishlist</a>
        </div>
    </div>
    <div class="col-6 text-right">
        <div>
            <a asp-action="Index" asp-controller="Codex">Codex Index</a>
        </div>
        <div>
            <a asp-action="View" asp-controller="Codex" asp-route-id="@CodexSection.Equipment">Equipment Codex</a>
        </div>
    </div>
</div>

@if (Model.ImportantInvasions.SafeAny() || Model.OtherInvasions.SafeAny()) {
    <div>
        <h5>Invasions</h5>
        @if (Model.ImportantInvasions.SafeAny()) {
            <div class="row">
                @foreach (Invasion invasion in Model.ImportantInvasions.OrderBy(x => x.ActivationEpochUtc)) {
                    <div display-for="@invasion" class="col-md-6"></div>
                }
            </div>
        }

        @if (Model.OtherInvasions.SafeAny()) {
            <div>
                <button type="button" class="btn btn-link p-1" data-toggle="collapse" data-target=".other-invasions-container">Show/Hide More Invasions</button>
            </div>

            <div class="other-invasions-container row collapse">
                @foreach (Invasion invasion in Model.OtherInvasions.OrderBy(x => x.ActivationEpochUtc)) {
                    <div display-for="@invasion" class="col-md-6"></div>
                }
            </div>
        }
    </div>
}

<hr />

@if (Model.VoidMissions.SafeAny()) {
    <div>
        <h5>
            Void Missions on Saturn and Ceres
            <span style="font-size:12px;"><em>Good for farming void traces and Orokin Cells</em></span>
        </h5>
        @foreach (ActiveMission activeMission in Model.VoidMissions.OrderBy(x => x.StartedOnLocalTime)) {
            <div display-for="@activeMission"></div>
        }
    </div>
}  