@model HomeViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row gutter-5 mb-1">
    <div class="col-6">
        <div>
            <a asp-action="PrimeWishlist" asp-controller="Item">Prime Wishlist</a>
        </div>
        <div>
            <a asp-action="Index" asp-controller="Codex">Codex</a>
        </div>
    </div>
    <div class="col-6 text-right">
        <div>Mastery Rank:</div>
        <div>@Html.DisplayFor(x => x.MasteryRank.Name)</div>
        <div>Total Exp: @Html.DisplayFor(x => x.CurrentMasteryExperience, "CommaNumber")</div>
        <div class="small">
            <a asp-action="UpdateStarchartCompletion">Update Starchart Completion</a>
        </div>
    </div>
</div>

@if (Model.Invasions.SafeAny()) {
    <div>
        <h5>Invasions</h5>
        @foreach (Invasion invasion in Model.Invasions.OrderBy(x => x.ActivationEpochUtc)) {
            @Html.DisplayFor(x => invasion)
        }
    </div>
}

<hr />

@if (Model.VoidMissions.SafeAny()) {
    <div>
        <h5>
            Void Missions on Saturn and Ceres
            <span style="font-size:12px;"><em>Good for farming void traces and Orokin Cells</em></span>
        </h5>
        @foreach (ActiveMission activeMission in Model.VoidMissions.OrderBy(x => x.StartedOnLocalTime)) {
            @Html.DisplayFor(x => activeMission)
        }
    </div>
}  