@{
    ViewBag.Title = "Codex Index";
}

<h3>@ViewBag.Title</h3>
<hr />

@foreach(CodexSection codexSection in Enum.GetValues(typeof(CodexSection))) {
    <p>
        <a display-for="@codexSection" asp-action="View" asp-route-id="@codexSection"></a>
    </p>
}