@model string
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Server Error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (!string.IsNullOrWhiteSpace(Model)) {
    <h4>@Html.DisplayFor(x => x)</h4>
}