@{
    ViewData["Title"] = "Amps";
}

<h1>Amps</h1>

<h5>Prisms</h5>

@*Raplak|Tier 1|Semi-auto, long-range, precise hit-scan
    Shwaak|Tier 2|Semi-auto, medium range, punch-through projectile
    Granmu|Tier 3|Three-shot grenade burst
    Rahn|Tier 4|Fully-auto, long range shots
    Centic|Tier 5|Quick and precise three-shot burst
    Lega|Tier 6|Narrow, continuous beam with medium range
    Klamora|Tier 7|Wide, short ranged beam*@

<table class="table table-sm w-auto">
    <tr>
        <th>Name</th>
        <th>Tier</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Raplak</td>
        <td>Tier 1</td>
        <td>Semi-auto, long-range, precise hit-scan</td>
        <td>3,000</td>
    </tr>
    <tr>
        <td>Shwaak</td>
        <td>Tier 2</td>
        <td>Semi-auto, medium range, punch-through projectile</td>
        <td>3,500</td>
    </tr>
    <tr>
        <td>Granmu</td>
        <td>Tier 3</td>
        <td>Three-shot grenade burst</td>
    </tr>
    <tr>
        <td>Rahn</td>
        <td>Tier 4</td>
        <td>Fully-auto, long range shots</td>
    </tr>
    <tr>
        <td>Centic</td>
        <td>Tier 5</td>
        <td>Quick and precise three-shot burst</td>
    </tr>
    <tr>
        <td>Lega</td>
        <td>Tier 6</td>
        <td>Narrow, continuous beam with medium range</td>
    </tr>
    <tr>
        <td>Klamora</td>
        <td>Tier 7</td>
        <td>Wide, short ranged beam</td>
    </tr>
</table>


<h5>Scaffolds</h5>

@*Pencha|Tier 1|Charged beam
    Shraksun|Tier 2|Short-range flak grenade
    Klebrik|Tier 3|Continuous homing beam
    Phahd|Tier 4|Powerful shots bounce between targets
    Exard|Tier 5|Automatic grenade launcher that shoots until out of ammo
    Dissic|Tier 6|Clusterbomb launcher
    Propa|Tier 7|Timed explosive that can be triggered by enemies*@
<table class="table table-sm w-auto">
    <tr>
        <th>Name</th>
        <th>Tier</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Pencha</td>
        <td>Tier 1</td>
        <td>Charged beam</td>
    </tr>
    <tr>
        <td>Shraksun</td>
        <td>Tier 2</td>
        <td>Short-range flak grenade</td>
    </tr>
    <tr>
        <td>Klebrik</td>
        <td>Tier 3</td>
        <td>Continuous homing beam</td>
    </tr>
    <tr>
        <td>Phahd</td>
        <td>Tier 4</td>
        <td>Powerful shots bounce between targets</td>
    </tr>
    <tr>
        <td>Exard</td>
        <td>Tier 5</td>
        <td>Automatic grenade launcher that shoots until out of ammo</td>
    </tr>
    <tr>
        <td>Dissic</td>
        <td>Tier 6</td>
        <td>Clusterbomb launcher</td>
    </tr>
    <tr>
        <td>Propa</td>
        <td>Tier 7</td>
        <td>Timed explosive that can be triggered by enemies</td>
    </tr>
</table>

<h5>Braces</h5>

@*Clapkra|Tier 1|+40 Amp Energy pool
    Juttni|Tier 2|-1 second Amp Recharge delay
    Lohrin|Tier 3|+12% Amp Critical/Status chance
    Anspatha|Tier 4|+20 Amp Energy Pool, +15/s Energy Recharge Rate
    Suo|Tier 5|+100 Amp Energy Pool, +2s Amp Recharge Delay
    Plaga|Tier 6|-20 Amp Energy Pool, -1.5s Amp Recharge Delay
    Certus|Tier 7|+20% Amp Critical chance*@
<table class="table table-sm w-auto">
    <tr>
        <th>Name</th>
        <th>Tier</th>
        <th>Stats</th>
    </tr>
    <tr>
        <td>Clapkra</td>
        <td>Tier 1</td>
        <td>+40 Amp Energy pool</td>
    </tr>
    <tr>
        <td>Juttni</td>
        <td>Tier 2</td>
        <td>-1 second Amp Recharge delay</td>
    </tr>
    <tr>
        <td>Lohrin</td>
        <td>Tier 3</td>
        <td>+12% Amp Critical/Status chance</td>
    </tr>
    <tr>
        <td>Anspatha</td>
        <td>Tier 4</td>
        <td>+20 Amp Energy Pool, +15/s Energy Recharge Rate</td>
    </tr>
    <tr>
        <td>Suo</td>
        <td>Tier 5</td>
        <td>+100 Amp Energy Pool, +2s Amp Recharge Delay</td>
    </tr>
    <tr>
        <td>Plaga</td>
        <td>Tier 6</td>
        <td>-20 Amp Energy Pool, -1.5s Amp Recharge Delay</td>
    </tr>
    <tr>
        <td>Certus</td>
        <td>Tier 7</td>
        <td>+20% Amp Critical chance</td>
    </tr>
</table>
