@{
    ViewData["Title"] = "Kitguns";
}

<h3>Kitguns</h3>

<h5>
    Chambers
</h5>
<div class="table-responsive">
    <table class="table table-sm w-auto">
        <caption></caption>
        <tbody>
            <tr>
                <td>Catchmoon</td>
                <td>
                    Fires a smaller Arca Plasmor like projectile
                </td>
            </tr>
            <tr>
                <td>Gaze</td>
                <td>
                    Continuous beam weapon
                </td>
            </tr>
            <tr>
                <td>Rattleguts</td>
                <td>
                    Full-auto pistol
                </td>
            </tr>
            <tr>
                <td>Tombfinger</td>
                <td>
                    Fire large projectile with a small area of effect on impact
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h5>
    Grips
</h5>
<div class="table-responsive">
    <table class="table table-sm w-auto">
        <tbody>
            <tr>
                <td>Gibber</td>
                <td>--Damage ++Fire Rate</td>
                <td>40m Beam Range</td>
            </tr>
            <tr>
                <td>Ramble</td>
                <td>-Damage +Fire Rate</td>
                <td>37m Beam Range</td>
            </tr>
            <tr>
                <td>Lovetap</td>
                <td>+Damage -Fire Rate</td>
                <td>24m Beam Range</td>
            </tr>
            <tr>
                <td>Haymaker</td>
                <td>++Damage --Fire Rate</td>
                <td>21m Beam Range</td>
            </tr>
        </tbody>
    </table>
</div>

<h5>
    Loaders
</h5>
<div class="table-responsive">
    <table class="table table-sm w-auto">
        <tbody>
            <tr>
                <td>Bashrack</td>
                <td>+Magezine Size -Reload Speed</td>
            </tr>
            <tr>
                <td>Bellows</td>
                <td>++Magezine Size --Reload Speed</td>
            </tr>
            <tr>
                <td>Deepbreath</td>
                <td>+Magezine Size -Reload Speed</td>
            </tr>
            <tr>
                <td>Flutterfire</td>
                <td>-Magezine Size +Reload Speed</td>
            </tr>
            <tr>
                <td>Killstream</td>
                <td>-Magezine Size +Reload Speed</td>
            </tr>
            <tr>
                <td>Ramflare</td>
                <td>+Magezine Size -Reload Speed</td>
            </tr>
            <tr>
                <td>Slap</td>
                <td>-Magezine Size +Reload Speed</td>
            </tr>
            @*<tr>
                <td></td>
                <td>Magezine Size Reload Speed</td>
            </tr>
            <tr>
                <td></td>
                <td>Magezine Size Reload Speed</td>
            </tr>
            <tr>
                <td></td>
                <td>Magezine Size Reload Speed</td>
            </tr>*@
        </tbody>
    </table>
</div>