
@{
    ViewData["Title"] = "Modular Item Info";
}

<h3>Modular Item Info</h3>

<p>Work in Progress. Currently just static webpages</p>

<p>
    <a asp-action="Zaws">Zaws</a> (Modular Melee Weapons)
</p>

<p>
    <a asp-action="Kitguns">Kitguns</a> (Modular Secondary Weapons)
</p>

<p>
    <a asp-action="Amps">Amps</a> (Modular Operator Weapons)
</p>

<p>
    <a asp-action="MOAs">MOAs</a> (Modular Companions)
</p>