
@{
    ViewData["Title"] = "Zaws";
}

<h3>Zaws</h3>

@*Balla,Dagger(V),Staff(V)
    Cyath,Machete(=),Polearm(-)
    Dehtat,Rapier(-),Polarm(-)
    Dokrahm,Scythe(=),Heavy Blade(V)
    Kronsh,Machete(=),Polearm(-)
    Mewan,Sword(V),Polarm(-)
    Ooltha,Sword(V),Staff(V)
    Rabvee,Machete(=),Hammer(V)
    Sepfahn,Nikana(V),Staff(V)
    Plague Keewar,Scythe(=),Staff(V)
    Plague Kripath,Rapier(-),Polearm(-)*@

<table class="table table-sm w-auto">
    <tr><th>Name</th><th>One-handed</th><th>Two-handed</th></tr>
    <tr><td>Balla</td><td>Dagger(V)</td><td>Staff(V)</td></tr>
    <tr><td>Cyath</td><td>Machete(=)</td><td>Polearm(-)</td></tr>
    <tr><td>Dehtat</td><td>Rapier(-)</td><td>Polarm(-)</td></tr>
    <tr><td>Dokrahm</td><td>Scythe(=)</td><td>Heavy Blade(V)</td></tr>
    <tr><td>Kronsh</td><td>Machete(=)</td><td>Polearm(-)</td></tr>
    <tr><td>Mewan</td><td>Sword(V)</td><td>Polarm(-)</td></tr>
    <tr><td>Ooltha</td><td>Sword(V)</td><td>Staff(V)</td></tr>
    <tr><td>Rabvee</td><td>Machete(=)</td><td>Hammer(V)</td></tr>
    <tr><td>Sepfahn</td><td>Nikana(V)</td><td>Staff(V)</td></tr>
    <tr><td>Plague Keewar</td><td>Scythe(=)</td><td>Staff(V)</td></tr>
    <tr><td>Plague Kripath</td><td>Rapier(-)</td><td>Polearm(-)</td></tr>
</table>



Grips

@*Korb,One-handed,+++Damage ---Speed
Kwath,One-Handed,++Damage --Speed
Laka,One-handed,-Damage +Speed
Plague Akwin,One-handed,--Damage ++Speed
Peye,One-Handed,---Damage +++Speed

Shtung,Two-handed,+++Damage ---Speed
Kroostra,Two-handed ++Damage --Speed
Plague Bokwin,Two-handed,+Damage -Speed
Jayap,Two-handed,-Damage +Speed
Seekalla,Two-handed,---Damage +++Speed*@
<table class="table table-sm w-auto">
    <tr><th>Name</th><th>Type</th><th>Stats</th></tr>
    <tr><td>Korb</td><td>One-handed</td><td>+++Damage ---Speed</td></tr>
    <tr><td>Kwath</td><td>One-Handed</td><td>++Damage --Speed</td></tr>
    <tr><td>Laka</td><td>One-handed</td><td>-Damage +Speed</td></tr>
    <tr><td>Plague Akwin</td><td>One-handed</td><td>--Damage ++Speed</td></tr>
    <tr><td>Peye</td><td>One-Handed</td><td>---Damage +++Speed</td></tr>
    <tr><td>Shtung</td><td>Two-handed</td><td>+++Damage ---Speed</td></tr>
    <tr><td>Kroostra</td><td>Two-handed</td><td>++Damage --Speed</td></tr>
    <tr><td>Plague Bokwin</td><td>Two-handed</td><td>+Damage -Speed</td></tr>
    <tr><td>Jayap</td><td>Two-handed</td><td>-Damage +Speed</td></tr>
    <tr><td>Seekalla</td><td>Two-handed</td><td>---Damage +++Speed</td></tr>
</table>
